# Go build artifacts
/bin/
/pkg/
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib
*.test
*.out
out
# Temporary files
/tmp/
/temp/

# Environment variables
.env
.env.local
.env.development
.env.test

*.log

node_modules/
