{{ range .}}
<a
  href="/post/{{ .Post.ID }}"
  class="relative block rounded shadow-lg hover:shadow-xl transition-shadow duration-200"
>
  {{if .Post.Location }}
  <span
    class="absolute bg-black/30 right-1 text-gray-900 px-1 py-0 outline-0.5 top-5"
    >{{.Post.Location}}</span
  >
  {{else}} {{end}} {{ if gt .ImageCount 1 }}
  <!-- overlay in bottom-right -->
  <div
    class="absolute bottom-1 right-1 bg-black/60 text-white text-xs px-2 py-1 rounded-md flex items-center gap-1"
  >
    <!-- You could replace with an SVG icon for images -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-4 h-4"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 16l4-4a3 3 0 014 0l4 4m-6-6l2-2a3 3 0 014 0l4 4M2 20h20"
      />
    </svg>
    <span>{{ .ImageCount }}</span>
  </div>
  {{ end }}
  <img
    src="{{ .Image.ImageURL }}"
    alt="Image"
    class="w-full aspect-square object-cover rounded-sm hover:scale-105 transition-transform duration-200"
  />
</a>
{{ end }}
