<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/output.css" />
    <link rel="icon" href="data:," />
    <script src="https://unpkg.com/htmx.org@1.9.2" defer></script>
    <script src="/assets/js/menu.js" defer></script>
    <script src="/assets/js/pages/index/index.js" type="module" defer></script>
  </head>
  <body>
    {{template "header" .}}

    <main class="p-2">
      <h1 class="my-3 sr-only">Below is the latest uploads..</h1>

      <form
        action="/"
        method="get"
        hx-get="/search-posts-with-img"
        hx-target="#posts-gallery"
        hx-push-url="true"
        class="my-2"
      >
        <input
          type="text"
          name="q"
          placeholder="Peru + nubs ..."
          value="{{.Query}}"
          class="border bg-black border-slate-200 placeholder:text-slate-300"
        />
        <button
          type="submit"
          class="border border-slate-200 bg-black text-slate-200 text-sm py-1 px-1"
        >
          Search
        </button>
      </form>

      <div
        id="posts-gallery"
        class="grid grid-cols-2 md:grid-cols-4 gap-4 w-full"
      >
        <!-- The data will contain posts if this is shared search url -->
        {{if .Posts}} {{template "posts-with-img" .Posts}} {{else}} {{template
        "loader"}} {{end}}
      </div>
      <div class="h-20 w-full p-2 text-center text-black">
        <button
          type="click"
          class="bg-yellow-300 p-1 text-sm cursor-pointer"
          id="load-more-posts-btn"
        >
          See more posts
        </button>
        {{template "loader"}}
      </div>
    </main>

    <footer>
      <p>© Nub Global — Preserving the Past</p>
    </footer>
  </body>
</html>

<!-- 
        hx-trigger="load"
        hx-get="/latest-posts-with-img"
        hx-target="this"
        hx-swap="innerHTML" -->
