<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .Index.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/output.css" />
    <link rel="icon" href="data:," />
    <script src="https://unpkg.com/htmx.org@1.9.2" defer></script>
        <script src="/assets/js/menu.js" defer></script>

  </head>
  <body>
    {{template "header" .Index}}
    <main>
      <!--TITLE-->
      <h2 class="text-white text-2xl font-bold text-center">
        {{.Index.Title}}
      </h2>

      <!--LOCATION-->
      <p class="text-white text-sm">
        {{if .Post.Location}} {{.Post.Location}} {{else}} No location specified
        {{end}}
      </p>

      <!--IMAGES-->
      <div class="relative md:w-1/2 mx-auto">
        {{with index .Images 0}}
        <img
          id="mainImage"
          src="{{.ImageURL}}"
          class="w-full aspect-[4/3] object-contain bg-black mx-auto"
        />
        {{end}}
        <!-- Thumbnails -->
        <div class="mt-4 flex gap-2 overflow-x-auto">
          {{range .Images}}
          <img
            src="{{.ImageURL}}"
            alt="test"
            class="w-24 thumbnail h-16 object-cover rounded-sm cursor-pointer border-2 border-transparent hover:border-blue-500"
          />
          {{end}}
        </div>
      </div>

      <!-- COMMENT SECTION -->
      <div class="relative mt-6 md:max-w-2/3">

        <!-- Comment Form -->
         {{if .Index.IsLoggedIn}}
        <form
          hx-post="/submit-comment/{{.Post.ID}}"
          hx-swap="beforeend"
          hx-target="#comments"
          class="mb-4"
        >
          <textarea
            name="content"
            required
            rows="3"
            placeholder="Write a comment"
            class="w-full p-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
          ></textarea>
          <button
            type="submit"
            class="mt-2 px-3 py-2 bg-slate-500 text-white rounded-sm hover:bg-cyan-300 hover:text-slate-500 cursor-pointer"
          >
            Post Comment
          </button>
          
        </form>
        {{end}}

        <!-- Comments Container -->
        <div
          id="comments"
          hx-get="/get-post-comments/{{.Post.ID}}"
          hx-trigger="load"
          hx-swap="innerHTML"
          class="space-y-4 text-slate-50 p-4"
        >
          <!-- Comments will be loaded here -->
        </div>
      </div>
    </main>

    <footer>
      <p>© Nub Global — Preserving the Past</p>
    </footer>
    <script>
      const mainImage = document.querySelector("#mainImage");
      const thumbnails = document.querySelectorAll(".thumbnail");
      thumbnails.forEach((thumb) => {
        thumb.addEventListener("click", () => {
          
          mainImage.src = thumb.src;
        });
      });
    </script>
  </body>
</html>
