<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/output.css" />
    <link rel="icon" href="data:," />
    <script src="https://unpkg.com/htmx.org@1.9.2" defer></script>
  </head>
  <body>
    {{template "header" .}}
    <main>
      <h1 class="sr-only">Sign in</h1>
      <form class="p-8 rounded-sm w-full max-w-xs"
              hx-post="/sign-in"
        hx-target="#notification"
        hx-swap="innerHTML"
      >
        <div class="mb-5 flex flex-col">
          <label class="mb-2 font-medium text-gray-200">Username</label>
          <input
            type="text"
            name="username"
            required
            class="px-3 py-2 border border-slate-700 rounded text-gray-50 
            bg-black text-base focus:outline-none focus:border-yellow-400 focus:ring-2 focus:ring-yellow-400/40"
          />
        </div>

        <div class="mb-5 flex flex-col">
          <label class="mb-2 font-medium text-gray-200">Password</label>
          <input
            type="password"
            name="password"
            required
            class="px-3 py-2 border border-slate-700 rounded text-gray-50 
            bg-black text-base focus:outline-none focus:border-yellow-400 
            focus:ring-2 focus:ring-yellow-400/40"
          />
        </div>

        <button
          type="submit"
          class="w-full py-3 bg-yellow-400 text-slate-800 font-semibold text-base 
          rounded-sm cursor-pointer transition-colors duration-200 hover:bg-yellow-500"
        >
          Sign in
        </button>
        <div class="my-2" id="notification"></div>

        <a href="/sign-up" class="mt-5 p-1 px-2 shadow-md inline-block text-sm bg-slate-400"
          >Signup</a
        >
      </form>
    </main>
    <footer>
      <p>© Nub Global — Preserving the Past</p>
    </footer>
  </body>
</html>
