<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .Index.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/output.css" />
    <link rel="stylesheet" href="/assets/css/filepond.css" />
    <link rel="icon" href="data:," />
    <script src="https://unpkg.com/htmx.org@1.9.2" defer></script>
    <script src="/assets/js/filepond.js"></script>
    <script src="/assets/js/uploader.js"></script>
    <script src="/assets/js/dropdown.js" defer></script>

    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  </head>
  <body>
    {{template "header" .}}
    <main>
      <form id="postForm" enctype="multipart/form-data">
        <input
          type="text"
          name="title"
          placeholder="Title"
          required
          class="w-full px-2 py-1 text-slate-100 placeholder-slate-400 border-b border-slate-600 focus:outline-none focus:border-yellow-500 transition"
        />
        <input
          type="text"
          class="w-full px-2 py-1 text-slate-100 placeholder-slate-400 border-b border-slate-600 focus:outline-none focus:border-yellow-500 transition"
          name="tags"
          placeholder="Tags (comma-separated)"
        />
        <!-- <input type="text" name="location" placeholder="Location" /> -->
        <div
          class="dropdown relative flex w-full px-2 py-1 text-slate-100 placeholder-slate-400 border-b border-slate-600 focus:outline-none focus:border-yellow-500 transition"
        >
          <span class="text-slate-400">Location</span>
          <div>
            <input
              type="text"
              placeholder="Search"
              name="location"
              class="search-input px-2 text-slate-100 placeholder-slate-400 border-b border-slate-600 focus:outline-none focus:border-yellow-500 transition"
            />
            <div class="dropdown-content bg-black text-slate-100">
              {{range .countries}}
              <div class="option">{{.}}</div>
              {{end}}
            </div>
          </div>
        </div>
        <input type="file" name="images" id="images" multiple required />

        <button
          type="submit"
          class="px-4 py-2 bg-yellow-500 text-slate-900 font-semibold rounded-sm hover:bg-yellow-200 focus:outline-none focus:ring-2 block mx-auto focus:ring-yellow-100 transition"
        >
          Post
        </button>
      </form>
    </main>

    <footer>
      <p>© Nub Global — Preserving the Past</p>
    </footer>
  </body>
</html>
