<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .Index.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/output.css" />
    <link rel="stylesheet" href="/assets/css/filepond.css" />
    <link rel="icon" href="data:," />
    <script src="https://unpkg.com/htmx.org@1.9.2" defer></script>
    <script src="/assets/js/filepond.js"></script>
    <script src="/assets/js/uploader.js"></script>
    <script src="/assets/js/menu.js" defer></script>
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  </head>
  <body>
    {{template "header" .Index}}
    <main class="w-full">
      <img src="/assets/img/decoration.png" class="h-92" alt="decoration image">
      <form
        id="postForm"
        enctype="multipart/form-data"
        class="w-full md:w-2/3 mx-auto"
        hx-post="/create-post"
        hx-trigger="submit"
        hx-target="#loader"
        hx-swap="outerHTML"
      >
        <!--INPUT FOR TITLE -->
        <div class="flex w-full md:w-md px-2 py-1">
          <label for="title" class="text-slate-400 mr-auto my-auto"
            >Title:
          </label>
          <input
            type="text"
            name="title"
            required
            class="w-3/4 px-2 py-1 text-slate-100 border-b border-slate-600 focus:outline-none focus:border-yellow-500 transition"
          />
        </div>

        <!--INPUT FOR TAGS 
        <div class="flex w-full md:w-md px-2 py-1">
          <label for="tags" class="text-slate-400 mr-auto my-auto"
            >Tag(s):
          </label>
          <input
            type="text"
            class="placeholder:text-slate-400 w-3/4 px-2 py-1 text-slate-100 border-b border-slate-600 focus:outline-none focus:border-yellow-500 transition"
            name="tags"
            placeholder="(comma-separated)"
          />
        </div> -->

        <!--INPUT FOR LOCATION -->
        <div class="flex w-full md:w-md px-2 py-1 text-slate-100 mb-2">
          <label for="location" class="text-slate-400 mr-auto"
            >Location:
          </label>
          <select
            name="location"
            id="location"
            class="px-2 border-slate-600 w-3/4 border-b"
          >
            <option value="unknown">Unknown</option>
            {{range .Countries}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
          </select>
        </div>

        <!-- INPUT FOR FILE(S)-->
        <input type="file" name="images" id="images" multiple required />
        <button
          type="submit"
          class="px-4 py-2 bg-yellow-500 text-slate-900 font-semibold rounded-sm hover:bg-yellow-200 focus:outline-none focus:ring-2 block mx-auto focus:ring-yellow-100 transition"
        >
          Post
        </button>
        <div id="loader" class='hidden space-x-2 justify-center items-center h-screen max-h-4'>
            <span class='sr-only'>Loading...</span>
            <div class='h-2 w-2 bg-yellow-400 rounded-full animate-bounce [animation-delay:-0.3s]'></div>
            <div class='h-2 w-2 bg-yellow-400 rounded-full animate-bounce [animation-delay:-0.15s]'></div>
            <div class='h-2 w-2 bg-yellow-400 rounded-full animate-bounce'></div>
        </div>
      </form>
    </main>

    <footer>
      <p>© Nub Global — Preserving the Past</p>
    </footer>
  </body>
</html>
