@import url("dropdown.css");
@import "tailwindcss";

:root {
  color-scheme: light dark;
}
body {
  background-color: light-dark(#fff, #1c1d1f);
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /*color: #1f2937;  text-gray-800 */
  margin: 0;
  display: grid;
  place-items: center;
  grid-template-rows: 5% 1fr auto;
  height: 100dvh;
}
