<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>nub.global — Ancient Places</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/output.css" />
    <link rel="stylesheet" href="/assets/css/filepond.css" />
    <link rel="icon" href="data:," />
    <script src="https://unpkg.com/htmx.org@1.9.2" defer></script>
    <script src="/assets/js/filepond.js"></script>
    <script src="/assets/js/uploader.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Nub Global</a>
        <a href="/signup">Signup</a>
      </nav>
    </header>

    <main>
      <section id="swap-section"></section>
    </main>

    <footer>
      <p>© Nub Global — Preserving the Past</p>
    </footer>
  </body>
</html>
